.fila {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.image-container {
    width: 22%;
    padding: 10px;
    box-sizing: border-box;
    justify-content: center;
}
.image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
@media (max-width: 768px) {
    .image-container {
        width: 45%;
    }
}
@media (max-width: 480px) {
    .image-container {
        width: 90%;
    }
}
